doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title=config.title
    link(rel="stylesheet", href="css/app.css")
  body
    div#app
      section.header
        div.container
          h1.header-title=config.title
          div.card
            div.summary
              div.icon.icon-status-sum.up
              div
                div.summary-detail="All instances is working"
                div.summary-checktime="Last check at ..."

      section.content
        div.container
          each val in ["dasdas", "asr43","524h9", "ng97"]
            div.card.monitors.has-children
              div.monitors-header
                div.monitors-header-title=val
                div.icon.icon-status.up
              div.monitors-content-wrap
                div.monitors-content
                  each item in ["dasdas", "asr43","524h9", "ng97"]
                    div.monitor
                      div.monitor-name=item
                      div.icon.icon-status.up
          


      section.footer
        .container
          .footer-content
            nav.links
              for link in config.links
                a(href=link.href)=link.name
            .copyright!="&copy; " + config.copyright

      script
        include ../src/js/open.js
        

  